.unchecked-icon {
  color: grey;
  font-size: 30px;
}
.one {
  color: #ff2824;
  font-size: 30px;
}
.two {
  color: #f7680c;
  font-size: 30px;
}
.three {
  color: #ff9529;
  font-size: 30px;
}
.four {
  color: #fdcc0d;
  font-size: 30px;
}
.five {
  color: #ffdf00;
  font-size: 30px;
}
